@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.prettydropdown {
  position: relative;
  width: 130px; /* 70px + borders */
  display: block;
    float: right;
/*    background: red;*/
}
.prettydropdown.loading {
  min-width: 0;
}
.prettydropdown > ul {
  position: absolute;
  top: 0px;
    float: right;
  background: none;
  border: none;
  box-sizing: content-box;
  color: #7f7f7f;
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
    right: 25px;
  text-align: right;
    
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  z-index: 1;
    
    width: 100%;
  
    font-size: 1.5em;
    font-weight: 350;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
/*    background: yellow;*/
}
.prettydropdown.loading > ul {
  visibility: hidden;
  white-space: nowrap;
}
.prettydropdown > ul:focus, .prettydropdown:not(.disabled) > ul:hover {
  border-color: #7f7f7f;
}
.prettydropdown:not(.disabled) > ul.active {
  width: 100%;
    text-align: right;
  max-height: none !important;
  border-color: #1e90ff;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99;
}
.prettydropdown > ul.active:focus {
  outline: none;
}
.prettydropdown > ul.active.reverse {
  top: auto;
  bottom: 0;
}
.prettydropdown > ul > li {
  position: relative;
  min-width: 130px;
  height: 40px; /* 50px - borders */
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  display: none;
  line-height: 25px; /* 48px - borders */
  margin: 0;
  padding-right: 0.9rem;
    
/*    background : red;*/
}
.prettydropdown.loading > ul > li {
  min-width: 0;
  display: block;
  padding-right: 0.8rem;
    
}
.prettydropdown > ul:not(.active) > li:not(.selected):first-child {
  visibility: hidden; /* Prevent FOUC */
}
.prettydropdown > ul > li:first-child, .prettydropdown > ul.active > li {
  display: block;
}
.prettydropdown > ul.active > li:not(.label):hover, .prettydropdown > ul.active > li.hover:not(.label), .prettydropdown > ul.active > li:first-child:hover:after {
  background-color: transparent;
  color: #1e90ff;
}
.prettydropdown > ul.active > li.nohover {
  background: inherit !important;
  color: inherit !important;
}
.prettydropdown > ul.active > li.hover:before, .prettydropdown > ul.active > li.nohover:after {
  border-top-color: #f0f0f0 !important;

    
}
.prettydropdown > ul.active > li.hover:after, .prettydropdown > ul.active > li.nohover:before {
  border-top-color: #1e90ff !important;
}
.prettydropdown.arrow > ul > li.selected:before, .prettydropdown.arrow > ul > li.selected:after {
  position: absolute;
  top: 0px;
  bottom: 0;
    right: -10px;
    width: 15px;
  height: 10px;
   
  border: 7px solid transparent; /* Arrow size */
  box-sizing: border-box;
  content: '';
  display: block;
  margin: auto;
/*   transform: rotate(270deg);*/
    
/*    background: orange;*/
    
}
.prettydropdown.arrow.small > ul > li.selected:before, .prettydropdown.arrow.small > ul > li.selected:after {
  top: 4px;
  height: 8px;
  border-width: 5px;
   
}
.prettydropdown.arrow > ul > li.selected:before {
  border-top-color: #a9a9a9; /* Arrow color */
    top: 6px;
}
.prettydropdown.arrow > ul > li.selected:after {
  top: 1px;/* Chevron thickness */
    border-top-color: #f0f0f0;/* Match background colour */
    
}
.prettydropdown.arrow.small > ul > li.selected:after {
  top: 0px; /* Chevron thickness */
}
.prettydropdown.arrow.triangle > ul > li.selected:after {
  content: none;
}
.prettydropdown > ul:hover > li.selected:before {
  border-top-color: #7f7f7f;
}
.prettydropdown > ul.active > li.selected:before,
.prettydropdown > ul.active > li.selected:after {
  border: none;
}
.prettydropdown > ul:not(.active) > li > span.checked {
  display: none;
}

/* Multi-Select */
.prettydropdown.multiple > ul > li.selected {
  overflow: hidden;
  padding-right: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.prettydropdown > ul > li > span.checked {
  display: none;
}

/* Option Groups */
.prettydropdown > ul > li.label {
  cursor: default;
  font-weight: bold;
}
.prettydropdown > ul > li.label:first-child,
.prettydropdown.classic > ul > li.label ~ li.selected{
  border-top: none;
}
.prettydropdown > ul > li.label ~ li:not(.label):not(.selected),
.prettydropdown.classic > ul.active > li.label ~ li:not(.label) {
  padding-left: 1.6rem;
}

/* Classic Behavior */
.prettydropdown.classic > ul:not(.active) > li.selected:not(:first-child) {
  position: absolute;
  top: 0;
  display: block;
}

/* Disabled */
.prettydropdown.disabled, .prettydropdown > ul > li.disabled {
  opacity: 0.3;
}
.prettydropdown.disabled > ul > li, .prettydropdown > ul > li.disabled {
  cursor: not-allowed;
}

/* Divider Lines */
.prettydropdown.multiple > ul > li.selected + li, .prettydropdown.multiple > ul.reverse > li.selected,
.prettydropdown > ul > li.label, .prettydropdown > ul > li.label ~ li.selected {
  border-top-color: #dedede;
}
