@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
font-family: 'Noto Sans KR', sans-serif;

/*reset*/
*{margin:0; padding:0;}
body{font-size:14px; background-color:#f4f4f4; position:relative;}
a{text-decoration:none; color:#000000;}
ul, li{list-style:none; margin:0; padding:0;}
p, span, h1, h2, h3{hyphens:none; word-break:keep-all;}
/*reset end*/

.wrap{
    margin:0 auto;
    width:1366px;
    height:5090px; /*이부분 페이지마다 다름*/
    position:relative;
    overflow:visible;
}


/*main header image*/
.main_image{
    width:100%;
    height:640px;
    position:absolute;
    background-color: #f5475d;
}

/* blend */
.wrap .portfolio_detail_wrap .inner_wrap,
.wrap .portfolio_detail_wrap .inner_wrap .content_wrap{
     background-color: #f4f4f4;
} 

/*content 1 illustrations*/
.wrap .portfolio_detail_wrap .inner_wrap .content_wrap .content_1_wrap{
    width:100%;
    margin-top:10px;
    position:relative;
}

.wrap .portfolio_detail_wrap .inner_wrap .content_wrap .content_1_wrap .mockup{
    width: 100%;
    margin: 0 auto;
/*    background-color: yellow;*/
}

.wrap .portfolio_detail_wrap .inner_wrap .content_wrap .content_1_wrap .mockup .mockup_content{
    width: 100%;
    height: auto;
    
    mix-blend-mode: multiply;
}



/*content 1 txt*/
.wrap .portfolio_detail_wrap .inner_wrap .content_1_txt_wrap{
    width:100%;
    margin-top:10px;
    position:relative;
}

.wrap .portfolio_detail_wrap .inner_wrap .content_1_txt_wrap .content_title{
    width:155px;
    font-size:23px;
    font-weight:bold;
    margin:0;
    display:block;
    float:left;
    padding-top:5px;
}

.wrap .portfolio_detail_wrap .inner_wrap .content_1_txt_wrap .content_txt{
    margin:0;
    line-height:1.82;
    display:block;
    float:left;
    padding-top:8px;
}

.wrap .portfolio_detail_wrap .inner_wrap .content_1_txt_wrap a{
    text-decoration: none;
    display:block;
    opacity:0.4;
}

.wrap .portfolio_detail_wrap .inner_wrap .content_1_txt_wrap .plus_link{
    width: 20px;
    top: 7px;
    right: 0px;
    position: absolute;
}

.wrap .portfolio_detail_wrap .inner_wrap .content_1_txt_wrap a .visit{
    width: 60px;
    margin:0;
    top: 9.5px;
    right: 14px;
    position: absolute;
    font-size:13px;
    font-weight:500;
    color:#f5475d;
    opacity:0.6;
}

.wrap .portfolio_detail_wrap .inner_wrap .content_1_txt_wrap a:hover{
    opacity:1;
}


/*division2*/
.wrap .portfolio_detail_wrap .inner_wrap .division_2{
    width:736px;
    height:1px;
    opacity:0.2;
    background:#848484;
    margin-top:63px;
}

/*content2 webdesign*/
.wrap .portfolio_detail_wrap .inner_wrap .content_2_wrap{
    width:100%;
    margin-top:70px;
}

.wrap .portfolio_detail_wrap .inner_wrap .content_wrap .content_2_wrap .mockup_detail{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    mix-blend-mode: multiply; 
}

.wrap .portfolio_detail_wrap .inner_wrap .content_wrap .content_2_wrap .mockup_last{
    margin-bottom: 0px;
}
/*-----------------------------------------------------*/

.wrap .portfolio_detail_wrap .inner_wrap .project_info_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.wrap .portfolio_detail_wrap .inner_wrap .content_1_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.wrap .portfolio_detail_wrap .inner_wrap .content_2_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.wrap .portfolio_detail_wrap .inner_wrap .content_1_txt_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}


