@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
font-family: 'Noto Sans KR', sans-serif;

/*reset*/
*{margin:0; padding:0;}
body{width:750px; font-size:14px; background-color:#f4f4f4; position:relative; overflow-x:hidden;}
a{text-decoration:none; color:#000000;}
ul, li{list-style:none; margin:0; padding:0;}
p, span, h1, h2, h3{hyphens:none; word-break:keep-all;}
/*reset end*/

.wrap{
    margin:0 auto;
    width:750px;
    position:relative;
    overflow:hidden;
    padding-bottom:80px;
}

/*portfolio*/
.wrap .portfolio_wrap{
    margin:0 auto;
    width:700px;
    height:550px;
    position:relative;
    overflow:visible;
    opacity:0;
    transform: translateY(50px);
    animation: none;
    padding-top:124px;
}

@keyframes moveWrap{
    to{transform: translateY(0px); opacity:1;}
}

/*portfolio filter list*/
.wrap .filter_wrap{
    width:82%;
    height:20px;
    position:absolute;
    top:50px;
    right:30px;
    padding-left:6px;
    z-index:5;
}

.wrap .filter_wrap .filter_list{
    width:100%;
    height:32px;
    display:block;
    font-size:1.8em;
    line-height:1.3;
}

.wrap .filter_wrap .filter_list li{
    display:block;
    float:left;
    padding:0 13px 0 13px;
    opacity:0.6;
}

.wrap .filter_wrap .filter_list li:nth-child(1){
    border-left: 1px solid #848484;
    /*background:#00d8ff;*/
    width:28px;
}

.wrap .filter_wrap .filter_list li:nth-child(2){
    border-left: 1px solid #848484;
    /*background:#00d8ff;*/
    width:49px;
}

.wrap .filter_wrap .filter_list li:nth-child(3){
    border-left: 1px solid #848484;
    /*background:#ffde71;*/
    width:64px;
}

.wrap .filter_wrap .filter_list li:nth-child(4){
    border-left: 1px solid #848484;
    /*background:#4be04b;*/
    width:114px;
}

.wrap .filter_wrap .filter_list li:nth-child(5){
    border-left: 1px solid #848484;
    /*background:#4be04b;*/
    width:82px;
}

.wrap .filter_wrap .filter_list li:nth-child(6){
    border-left: 1px solid #848484;
    border-right: 1px solid #848484;
    /*background:#4be04b;*/
    width:89px;
}

/*portfolio columns*/
.wrap .column{
    width:48.5%;
    float:left;
    overflow:visible;
}

.wrap .column .contents{
    width:100%;
    height:190px;
    margin-top:10px;
    color:#848484;
    overflow:hidden;
}

.wrap .column .contents .image{
    background-repeat:no-repeat;
    background-size:contain;
}

.wrap .column .contents p{
    margin:0;
    font-size:2em;
    padding: 10px 0 25px 0;
}

.wrap .column .contents:hover{
    cursor:pointer;
}

.wrap .column2{
    float:right;
}

/*contents details*/
.wrap .column1 .contents_1{
    height:403px;
}

.wrap .column1 .contents_1 .image{
    height:340px;
    background-image:url(../img/vodana_thumbnail.png);
}

.wrap .column1 .contents_2{
    height:544px;
}

.wrap .column1 .contents_2 .image{
    height:481px;
    background-image:url(../img/poster2.jpg);
}

.wrap .column1 .contents_3{
    height:290px;
}

.wrap .column1 .contents_3 .image{
    height:227px;
    background-image:url(../img/tnc_thumnail.png);
}

.wrap .column1 .contents_4{
    height:403px;
}

.wrap .column1 .contents_4 .image{
    height:340px;
    background-image:url(../img/map_thumnail.jpg);
}

.wrap .column1 .contents_5{
    height:403px;
}

.wrap .column1 .contents_5 .image{
    height:340px;
    background-image:url(../img/qplace/qplace_thumbnail.png);
}

.wrap .column1 .contents_6{
    height:404px;
}

.wrap .column1 .contents_6 .image{
    height:341px;
    background-image:url(../img/thumbnail_haya.jpg);
}

.wrap .column1 .contents_7{
    height:403px;
}

.wrap .column1 .contents_7 .image{
    height:340px;
    border:1px solid rgb(132, 132, 132, 0.1);
    background-image:url(../img/font_thumnail.jpg);
}

.wrap .column1 .contents_8{
    height:291px;
}

.wrap .column1 .contents_8 .image{
    height:223px;
    background-image:url(../img/zeromon_thumnail.png);
    background-repeat:no-repeat;
    background-size:contain;
}

.wrap .column1 .contents_9{
    height:531px;
}

.wrap .column1 .contents_9 .image{
    height:463px;
    background-image:url(../img/cube_thumnail.jpeg);
    background-repeat:no-repeat;
    background-size:contain;
}

.wrap .column1 .contents_10{
    height:403px;
}

.wrap .column1 .contents_10 .image{
    height:340px;
    background-image:url(../img/neoregen/neoregen_thumbnail.png);
}

.wrap .column1 .contents_11{
    height:403px;
}

.wrap .column1 .contents_11 .image{
    height:340px;
    background-image:url(../img/aomg/above_thumbnail.png);
}

.wrap .column1 .contents_12{
    height:403px;
}

.wrap .column1 .contents_12 .image{
    height:340px;
    background-image:url(../img/aomg-woo/thumbnail_woo.png);
}

.wrap .column1 .contents_13{
    height:403px;
}

.wrap .column1 .contents_13 .image{
    height:340px;
    background-image:url(../img/aomg-trlt/thumbnail_trlt.png);
}

.wrap .column1 .contents_14{
    height:403px;
}

.wrap .column1 .contents_14 .image{
    height:340px;
    background-image:url(../img/bolca/thumbnail_bolca.png);
}

.wrap .column1 .contents_15{
    height:403px;
}

.wrap .column1 .contents_15 .image{
    height:340px;
    background-image:url(../img/doota2/doota2_thumbnail.png);
}



.wrap .column2 .contents_1{
    height:543px;
}

.wrap .column2 .contents_1 .image{
    height:479px;
    background-image:url(../img/malevich_thumnail.png);
}

.wrap .column2 .contents_2{
    height:436px;
}

.wrap .column2 .contents_2 .image{
    height:373px;
    background-image:url(../img/rooming_thumnail.jpg);
}

.wrap .column2 .contents_3{
    height:403px;
}

.wrap .column2 .contents_3 .image{
    height:340px;
    background-image:url(../img/jb/jb_thumbnail.png);
}

.wrap .column2 .contents_4{
    height:543px;
}

.wrap .column2 .contents_4 .image{
    height:480px;
    background-image:url(../img/overtime_thumbnail.gif);
}

.wrap .column2 .contents_5{
    height:288px;
}

.wrap .column2 .contents_5 .image{
    height:220px;
    background-image:url(../img/zeron_thumbnail.jpg);
}

.wrap .column2 .contents_6{
    height:447px;
}

.wrap .column2 .contents_6 .image{
    height:384px;
    background-image:url(../img/bino1.jpg);
}

.wrap .column2 .contents_7{
    height:415px;
}

.wrap .column2 .contents_7 .image{
    height:340px;
    background-image:url(../img/circles_thumbnail.jpg);
}

.wrap .column2 .contents_8{
    height:403px;
}

.wrap .column2 .contents_8 .image{
    height:340px;
    background-image:url(../img/jb_gangnam/jb2_thumbnail.png);
}

.wrap .column2 .contents_9{
    height:403px;
}

.wrap .column2 .contents_9 .image{
    height:340px;
    background-image:url(../img/dmm/dearmsme_thumbnail.png);
}

.wrap .column2 .contents_10{
    height:403px;
}

.wrap .column2 .contents_10 .image{
    height:340px;
    background-image:url(../img/denmobili/denmobili_thumbnail.png);
}

.wrap .column2 .contents_11{
    height:403px;
}

.wrap .column2 .contents_11 .image{
    height:340px;
    background-image:url(../img/smnct/smnct_thumbnail.png);
}

.wrap .column2 .contents_12{
    height:403px;
}

.wrap .column2 .contents_12 .image{
    height:340px;
    background-image:url(../img/gr/gr_thumbnail.png);
}

.wrap .column2 .contents_13{
    height:403px;
}

.wrap .column2 .contents_13 .image{
    height:340px;
    background-image:url(../img/doota1/doota1_thumbnail.png);
}

.wrap .column2 .contents_14{
    height:403px;
}

.wrap .column2 .contents_14 .image{
    height:340px;
    background-image:url(../img/nabba/nabba_thumbnail.png);
}

.wrap .column2 .contents_15{
    height:403px;
}

.wrap .column2 .contents_15 .image{
    height:340px;
    background-image:url(../img/kravebeauty/kravebeauty_thumbnail.png);
}

/*-----------------------------------------------------*/
.wrap .filter_wrap .filter_list:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}
/*-----------------------------------------------------*/
/*menu off*/
.wrap .wrap_fixed_1 .menu .menu1, .wrap .wrap_fixed_1 .menu .menu2, .wrap .wrap_fixed_1 .menu .menu3{
    display:none;
}

.portfolio_wrap{
    min-height:900px;
}

.wrap .wrap_fixed_1{
    width:80px;
    position:absolute;
    top:36px;
    left:25px;
}

.wrap .wrap_fixed_1 .menu{
    width:80px;
    line-height:2.9em;
    border:none;
    z-index:9999;
}


