@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
font-family: 'Noto Sans KR', sans-serif;

/*reset*/
*{margin:0; padding:0;}
body{font-size:14px; background-color:#f4f4f4; position:relative;}
a{text-decoration:none; color:#000000;}
ul, li{list-style:none; margin:0; padding:0;}
p, span, h1, h2, h3{hyphens:none; word-break:keep-all;}
/*reset end*/

.wrap{
    margin:0 auto;
    width:1366px;
    height:820px;
    position:relative;
    overflow:hidden;
}

/*about us*/
.aboutus_wrap{
    margin:0 auto;
    width:942px;
    position:relative;
    overflow:visible;
    opacity:1;
}

.aboutus_skills{
    width:100%;
    height:172px;
    margin-top:138px;
    margin-bottom:53px;
    opacity:0;
    transform: translateY(50px);
    animation: none;
}

.aboutus_skills .skill_box{
    width:33.25%;
    float:left;
    height:172px;
}

.aboutus_skills .skill_1{
    border-right:1px solid #848484;
}

/*title*/
.aboutus_skills .skill_box .skill_title{
    width:100%;
    margin:0;
    text-align:center;
    font-size:18px;
    font-weight:bold;
    opacity:0.5;
    padding-top:19px;
}

/*subtitle*/
.aboutus_skills .skill_box .skill_subtitle{
    width:100%;
    margin:0;
    text-align:center;
    font-size:14px;
    line-height:1.64;
    font-weight:bold;
    opacity:0.5;
}

/*line*/
.aboutus_skills .skill_box .line_wrap{
    width:100%;
    padding-top:7px;
    padding-bottom:12px;
    opacity:0.6;
}

.aboutus_skills .skill_box .line_wrap .box{
    width:49.8%;
    height:28px;
    float:left;
}

.aboutus_skills .skill_box .line_wrap .box2{
    border-left:1px solid #848484;
}

/*about us textbox*/
.aboutus_txt_wrap{
    width : 940px;
    height : 335px;
    background:#fff;
    border:1px solid #848484;
    opacity:0;
    transform: translateY(50px);
    animation: none;
    animation-delay: 5s;
}

.aboutus_txt_wrap .txt_1{
    font-size:14px;
    line-height:23px;
    text-align:center;
    opacity:0.6;
    margin:64px 0 0 0;
}

.aboutus_txt_wrap .txt_2{
    font-size:14px;
    line-height:23px;
    text-align:center;
    opacity:0.6;
    margin:0;
    font-weight:bold;
}

/*line*/
.aboutus_txt_wrap .line_wrap{
    width:100%;
    height:32px;
    padding-top:13px;
    padding-bottom:13px;
    opacity:0.6;
}

.aboutus_txt_wrap .line_wrap .box{
    width:49.8%;
    height:32px;
    float:left;
}

.aboutus_txt_wrap .line_wrap .box2{
    border-left:1px solid #848484;
}

/*about us graphic*/
/*graphic style*/
.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:0.5px; opacity:0.7;}

.aboutus_wrap #aboutus_graphic{
    width:234px;
    position:absolute;
    left:658px;
    top:400px;
    stroke-dasharray:460px;
    stroke-dashoffset:460px;
    animation: movePath 2.5s forwards ease-in;
    animation-delay:0.3s;
}

.aboutus_wrap .aboutus_graphic_solid{
    background-image:url(../img/aboutus_graphic_solid.png);
    background-repeat:no-repeat;
    background-size:contain;
    width:234px;
    height:237px;
    position:absolute;
    left:658px;
    top:407px;
    opacity:0;
    animation: fillsolid 5s forwards;
}

/*main graphic animation keyframes----------------------*/
@keyframes moveWrap{
    to{transform: translateY(0px); opacity:1;}
}

@keyframes movePath{
    to{stroke-dashoffset: 0;}
}

@keyframes fillsolid {
	to { opacity:1;}
}
/*-----------------------------------------------------*/
.aboutus_skills:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.aboutus_skills .skill_box .line_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.aboutus_txt_wrap .line_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}


