@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
font-family: 'Noto Sans KR', sans-serif;

/*reset*/
*{margin:0; padding:0;}
body{font-size:14px; background-color:#f4f4f4; position:relative;}
a{text-decoration:none; color:#000000;}
ul, li{list-style:none; margin:0; padding:0;}
p, span, h1, h2, h3{hyphens:none; word-break:keep-all;}
/*reset end*/

.wrap{
    margin:0 auto;
    width:1366px;
    height:806px;
    position:relative;
    overflow:hidden;
}

.graphic_wrap{
    width:1650px;
    height:806px;
    opacity:0.8;
    position:absolute;
    left:50%;
    margin-left:-825px;
    overflow:visible;
}

/*division line*/

.division_1{
    width:100%;
    height:1px;
    opacity:0.7;
    background:#848484;
    position:absolute;
    top:807px;
}

/*-----------------------------------------------------*/

/*main graphic*/

/*main graphic style*/
.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:0.5px; opacity:0.7;}

.graphic_wrap .graphic_main{
    position:relative;
}

.graphic_wrap .graphic_main #mid_1{
    width:242px;
    position:absolute;
    top:247px;
    left:707px;
    stroke-dasharray: 160;
    stroke-dashoffset: 160;
    animation: movePath 6s forwards;
}

.graphic_wrap .graphic_main #mid_long_top{
    width:769px;
    position:absolute;
    top:-10px;
    left:180px;
    stroke-dasharray: 1650;
    stroke-dashoffset: 1650;
    animation: movePath 6s forwards;
}

.graphic_wrap .graphic_main #mid_long_bot{
    width:936px;
    position:absolute;
    top:1px;
    left:707px;
    stroke-dasharray: 4560;
    stroke-dashoffset: 4560;
    animation: movePath 6s forwards;
}

.graphic_wrap .graphic_main #left_2{
    width:81px;
    position:absolute;
    top:475px;
    left:494px;
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
    z-index:5;
    animation: movePath 6s forwards;
}

.graphic_wrap .graphic_main #left_1_1{
    width:241px;
    position:absolute;
    top:415px;
    left:521px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    
    animation: movePath 6s forwards;
}

.graphic_wrap .graphic_main #left_long{
    width:617px;
    position:absolute;
    top:369px;
    left:521px;
    stroke-dasharray: 1900;
    stroke-dashoffset: 1900;
    animation: movePath 6s forwards;
}

.graphic_wrap .graphic_main #top_1{
    width:137px;
    position:absolute;
    top:123px;
    left:905px;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: movePath 6s forwards;
}

.graphic_wrap .graphic_main #top_2{
    width:137px;
    position:absolute;
    left:905px;
    top:155px;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: movePath 6s forwards;
}

.graphic_wrap .graphic_main #right_1{
    width:242px;
    position:absolute;
    left:885px;
    top:317px;
    stroke-dasharray: 780;
    stroke-dashoffset: 780;
    animation: movePath 6s forwards;
}

.graphic_wrap .graphic_main #right_2{
    width:81px;
    position:absolute;
    left:1046px;
    top:410px;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: movePath 6s forwards;
}

.graphic_wrap .graphic_main #mid_cylinder{
    width:124px;
    position:absolute;
    left:762px;
    top:232px;
    opacity:0.5;
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    animation: movePath 10s forwards;
}

.graphic_wrap .graphic_main .solid_1{
    width:80px;
    height:110px;
    background-image: url(../img/graphic_left_white.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:494px;
    top:475px;
    z-index:4;
    animation: solidonoff2 1s infinite forwards;
}

.graphic_wrap .graphic_main .solid_2{
    width:124px;
    height:110px;
    background-image: url(../img/graphic_mid_red.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:762px;
    top:232px; 
    opacity:1;
    animation: solidmove 5s infinite ease-in-out;
    z-index:5;
    display:block;
}

.graphic_wrap .graphic_main .solid_3{
    width:124px;
    height:110px;
    background-image: url(../img/graphic_mid_white.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:762px;
    top:281px; 
    opacity:0;
    animation: solidonoff2 1s infinite forwards;
}

.graphic_wrap .graphic_main .solid_5{
    width:137px;
    height:110px;
    background-image: url(../img/graphic_top_white.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:905px;
    top:123px;
    animation: solidonoff2 1s infinite forwards;
}

.graphic_wrap .graphic_main .solid_6{
    width:124px;
    height:110px;
    background-image: url(../img/graphic_right_white.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:1046px;
    top:410px;
    animation: solidonoff2 1s infinite forwards;
}

.graphic_wrap .graphic_main .solid_7{ /*defalut display none*/
    width:241px;
    height:410px;
    background-image: url(../img/graphic_right_grey.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:885px;
    top:317px;
    z-index:1;
    display:none;
    /*animation: solidonoff2 1s infinite forwards;*/
}

.graphic_wrap .graphic_main .solid_4{ /*defalut display none*/
    width:124px;
    height:110px;
    background-image: url(../img/graphic_right_red_2.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:1073px;
    top:425px; 
    z-index:6;
    /*animation: solidonoff2 4s infinite forwards;*/
    display:none;
}

.graphic_wrap .graphic_main .solid_8{ /*defalut display none*/
    width:137px;
    height:110px;
    background-image: url(../img/graphic_top_red.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:905px;
    top:95px;
    z-index:5;
    /*animation: solidonoff2 1s infinite forwards;*/
    display:none;
}

.graphic_wrap .graphic_main .solid_9{ /*defalut display none*/
    width:81px;
    height:110px;
    background-image: url(../img/graphic_left_red.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:494px;
    top:476px;
    z-index:4;
    /*animation: solidonoff2 1s infinite forwards;*/
    display:none;
}

.graphic_wrap .graphic_main .scroll_icon{
    width:81px;
    height:374px;
    background-image:url(../img/icon_scroll.png);
    background-repeat:no-repeat;
    background-size:contain;
    opacity:1;
    transform:translate(0px, 0px) scale(0.2);
    position:absolute;
    left:827px;
    top:460px;
    opacity:0.5;
    animation: scrollicon 1s infinite;
}

/*main graphic animation keyframes------------------------------*/

@keyframes movePath{
    to{stroke-dashoffset: 0;}
}
    
@keyframes fillsolid {
	0% { opacity:0;}
	50% { opacity:0;}
	100% { opacity:1;}
}

@keyframes solidmove {
	0% {transform: translateY(0);}
	50% {transform: translateY(50px);}
	100% {transform: translateY(0);}
}

@keyframes solidonoff1 {
	0% {opacity:1; transform: translate(0px, 0px);}
	50% {opacity:0; transform: translate(50px, 30px);}
    100% {opacity:1; transform: translate(0px, 0px);}
}

@keyframes solidonoff2 {
	0% { opacity:0;}
	50% {opacity:0.7;}
    100% {opacity:0;}
}

@keyframes scrollicon {
	0% { transform: translateY(0) scale(0.2); }
    100% { transform: translateY(30px) scale(0.2); }
}

/*-----------------------------------------------------*/

/*main graphic texture*/

.graphic_wrap .graphic_main .texture_1{ /*defalut display none*/
    width:522px;
    height:540px;
    background-image: url(../img/graphic_tex_1.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:521px;
    top:155px;
    display:none;
    
}

.graphic_wrap .graphic_main .texture_2{ /*defalut display none*/
    width:526px;
    height:540px;
    background-image: url(../img/graphic_tex_2.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:601px;
    top:122px;
    display:none;
}

.graphic_wrap .graphic_main .texture_3{ /*defalut display none*/
    width:612px;
    height:538px;
    background-image: url(../img/graphic_tex_4.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:518px;
    top:150px;
    display:none;
}

/*-----------------------------------------------------*/
/*division line*/

.division_2{
    width:100%;
    height:1px;
    opacity:0.7;
    background:#848484;
    position:absolute;
    top:1566px;
}

/*about us*/
.wrap_2{
    margin:0 auto;
    width:1366px;
    height:760px;
    position:relative;
    overflow:visible;
    opacity:0;
    transform: translateY(50px);
    animation: none;
}

@keyframes moveWrap2{
    to{transform: translateY(0px); opacity:1;}
}

.wrap_2 .aboutus_txt{
    width:540px;
    margin:0 auto;
    text-align:center;
    opacity:0.6;
    line-height:1.64;
    font-size:14px;
    padding-top:109px;
    padding-bottom:51px;
}

/*double division*/

.wrap_2 .double_division{
    width:943px;
    height:4px;
    margin: 0 auto;
    border-top:1px solid #848484;
    border-bottom:1px solid #848484;
    opacity:0.7;
}

.wrap_2 .client_boxes{
    width:943px;
    margin: 0 auto;
    opacity:0.6;
}

/*row 1*/

.wrap_2 .client_boxes .row_1{
    width:100%;
    margin-bottom:10px;
    margin-top:26px;
}

.wrap_2 .client_boxes .row_1 .boxes{
    width:33%;
    height:136px;
    float:left;
    border: 1px solid #848484;
}

.wrap_2 .client_boxes .row_1 .box_1{
    width:32.45%;
    margin-right:1%;
    height:136px;
    background:#f4f4f4;
}

.wrap_2 .client_boxes .row_1 .box_1 .image{
    width:100%;
    height:136px;
    background: url(../img/client_1.png);
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.7;
}

.wrap_2 .client_boxes .row_1 .box_1 .image:hover{
    opacity:1;
}

.wrap_2 .client_boxes .row_1 .box_2{
    width:32.45%;
    margin-right:1%;
    height:136px;
}

.wrap_2 .client_boxes .row_1 .box_2 .image{
    width:100%;
    height:136px;
    background: url(../img/client_2.png);
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.7;
}

.wrap_2 .client_boxes .row_1 .box_2 .image:hover{
    opacity:1;
}

.wrap_2 .client_boxes .row_1 .box_3{
    width:32.45%;
    height:136px;
    float:right;
}

.wrap_2 .client_boxes .row_1 .box_3 .image{
    width:100%;
    height:136px;
    background: url(../img/client_3.png);
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.7;
}

.wrap_2 .client_boxes .row_1 .box_3 .image:hover{
    opacity:1;
}

/*row 2*/

.wrap_2 .client_boxes .row_2{
    width:100%;
}

.wrap_2 .client_boxes .row_2 .boxes{
    width:33%;
    height:136px;
    float:left;
    border: 1px solid #848484;
}

.wrap_2 .client_boxes .row_2 .box_4{
    width:32.45%;
    margin-right:1%;
    height:136px;
}

.wrap_2 .client_boxes .row_2 .box_4 .image{
    width:100%;
    height:136px;
    background: url(../img/client_4.png);
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.7;
}

.wrap_2 .client_boxes .row_2 .box_4 .image:hover{
    opacity:1;
}

.wrap_2 .client_boxes .row_2 .box_5{
    width:32.45%;
    margin-right:1%;
    height:136px;
}

.wrap_2 .client_boxes .row_2 .box_5 .image{
    width:100%;
    height:136px;
    background: url(../img/client_5.png);
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.7;
}

.wrap_2 .client_boxes .row_2 .box_5 .image:hover{
    opacity:1;
}

.wrap_2 .client_boxes .row_2 .box_6{
    width:32.45%;
    height:136px;
    float:right;
}

.wrap_2 .client_boxes .row_2 .box_6 .image{
    width:100%;
    height:136px;
    background: url(../img/client_6.png);
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.7;
}

.wrap_2 .client_boxes .row_2 .box_6 .image:hover{
    opacity:1;
}

.wrap_2 .plus_icon{
    width:30px;
    height:30px;
    position:absolute;
    left:668px;
    top: 645px;
    opacity:0.5;
    background-image:url(../img/icon_plus.png);
    background-repeat:no-repeat;
    background-size:cover;
}

.wrap_2 .plus_icon:hover{
    opacity:0.9;
    cursor:pointer;
}

.wrap_2 #client_line{
    width:288px;
    position:absolute;
    left:300px;
    top:594px;
    transform: scaleX(-1);
    stroke-dasharray: 760;
    stroke-dashoffset: 760;
}

.wrap_2 #client_line_2{
    width:288px;
    position:absolute;
    left:280px;
    top:594px;
    transform: scaleX(-1);
    stroke-dasharray: 760;
    stroke-dashoffset: 760;
}

/*-----------------------------------------------------*/
.wrap_2 .client_boxes .row_1:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.wrap_2 .client_boxes .row_2:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}
/*-----------------------------------------------------*/

.contact_bg{
    width:100%;
    height:913px;
    background:#fff;
    position:absolute;
    top:1567px;
    opacity:0;
}

.wrap_3{
    margin:0 auto;
    width:1366px;
    height:770px;
    position:relative;
    overflow:visible;
    transform: translateY(50px);
    animation:none;
    opacity:0;
}

@keyframes moveWrap3 {
    to{transform: translateY(0); opacity:1;}
}

.wrap_3 .gototop{
    width:23px;
    height:300px;
    background-image:url(../img/gototop.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:1305px;
    top:315px;
    opacity:0;
}

.wrap_3 .gototop:hover{
    cursor:pointer;
}

.wrap_3 .contact_txt{
    width:536px;
    margin:0 auto;
    text-align:center;
    opacity:0.6;
    line-height:1.64;
    font-size:14px;
    padding-top:99px;
    padding-bottom:7px;
}

/*double division*/

.wrap_3 .double_division{
    width:943px;
    height:4px;
    margin: 0 auto;
    border-top:1px solid #848484;
    border-bottom:1px solid #848484;
    opacity:0.7;
}

/*form start*/

.wrap_3 .form_wrap{
    width:730px;
    height:500px;
    margin: 0 auto;
    margin-top:67px; 
}

.wrap_3 .form_box{
    width:100%;
    position:relative;
}

.wrap_3 .form_box_2{
    margin-top:0px;
}

.wrap_3 .form_box p.txt{
    font-size:16px;
    line-height:16px;
    margin:0;
    padding-top:7px;
    width:55px;
    float:left;
    opacity:0.6;
    /*background:green;*/
}

.wrap_3 .form_box input{
    border:none;
    float:right;
    width:92.1%;
    background:none;
    border-bottom:1px solid #848484;
    opacity:0.7;
}

.wrap_3 .form_box input:focus{
    outline:none;
}

/*text area*/
.wrap_3 .form_box textarea{
    width:99.2%;
    font-size:13px;
    line-height:25px;
    resize:none;
    background:none;
    margin-top:20px;
    z-index:1;
    border:none;
    color:#a5a5a5;
}

.wrap_3 .form_box textarea:focus{
    outline:none;
}

.wrap_3 .underline{
    width:730px;
    height:10px;
    position:absolute;
    top:0px;
    left:50%;
    margin-left:-365px;
    opacity:0.5;
}

.wrap_3 .underline .lines{
    width:730px;
    height:1px;
    position:absolute;
    top:336px;
    opacity:1;
    background:#848484;
}

.wrap_3 .underline .line_2{top:361px;}
.wrap_3 .underline .line_3{top:386px;}
.wrap_3 .underline .line_4{top:411px;}
.wrap_3 .underline .line_5{top:436px;}
.wrap_3 .underline .line_6{top:461px;}
.wrap_3 .underline .line_7{top:486px;}
.wrap_3 .underline .line_8{top:511px;}
.wrap_3 .underline .line_9{top:536px;}
.wrap_3 .underline .line_10{top:561px;}
.wrap_3 .underline .line_11{top:586px;}
.wrap_3 .underline .line_12{top:611px;}
.wrap_3 .underline .line_13{top:636px;}

/*send button*/
.wrap_3  .form_wrap .form_button{
    background:transparent;
    border-style:none;
    border-bottom:1px solid #848484;
    font-size:16px;
    font-weight:500;
    margin-top:29px;
    opacity:0.6;
    float:right;
}

/*graphic contact*/
.wrap_3 .form_wrap .graphic_solid_grey {
    width:250px;
    height:222px;
    background-image:url(../img/graphics_contact_solid_grey.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    top:573px;
    left:210px;
    opacity:0;
}

.wrap_3 .form_wrap .graphic_solid_red {
    width:107px;
    height:222px;
    background-image:url(../img/graphics_contact_solid_red.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    top:691px;
    left:156px;
    opacity:0;
}

.wrap_3 .form_wrap #graphic_contact{
    width:250px;
    position:absolute;
    top:563px;
    left:210px;
    opacity:0.6;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
}

.wrap_3 .contact_img_guide{
    background:red;
    width:8px;
    height:64px;
    position:absolute;
    top:887px;
    left:996px;
    display:block;
}

/*-------------------------------------------------------------*/

.wrap_3 .form_box:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

.wrap_3 .form_wrap form:after{  /*clearfix*/
    content:"";
    display:block;
    clear:both;
}

/*-------------------------------------------------------------*/

.footer_wrap{
    width:100%;
    position:relative;
    margin-top:80px;
}


