@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
font-family: 'Noto Sans KR', sans-serif;

/*reset*/
*{margin:0; padding:0;}
body{font-size:14px; color:#626262; background-color:#f4f4f4; position:relative;}
a{text-decoration:none; color:#000000;}
ul, li{list-style:none; margin:0; padding:0;}
p, span, h1, h2, h3{hyphens:none; word-break:keep-all;}
/*reset end*/

.wrap{
    margin:0 auto;
    min-width:750px;
    width: 100%;
    height:1400px; /*이부분 페이지마다 다름*/
    position:relative;
    overflow:visible;
}

/*main header image*/
.main_image{
    min-width:750px;
    width:100%;
    height:500px;
    background:#3d3da7;
    position:absolute;
    opacity:0.7;
}

.wrap .portfolio_detail_wrap .inner_wrap .content_1_wrap a{
    display: block;
    width: 190px;
    height: 130px;
    
    font-size: 25px;
    border: 1px solid #000;
    margin: 5px;
    
    text-align: center;
    float: left;
}

.done{
    background-color: #3d3da7;
    color: #fff;
}

.done-ing{
    background-color: rgb(255, 226, 148);
    
}

/*-----------------------------------------------------*/

.wrap .portfolio_detail_wrap .inner_wrap .project_info_wrap:after{ /*clearfix*/
    content:"";
    display:block;
    clear:both;
}



